* {
	box-sizing: border-box;
}

.page-header {
	display: block;
}

.promo {
	margin: 50px 0;
}

.page-footer {
	display: block;
}

.btn {
	width: 220px;
    float: left;
    background-color: #ffcd34;
    font-size: 16px;
    font-weight: bold;
    color: #202e3b;
    text-decoration: none;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
}